

 
#menu{
    display: flex;
    flex-direction: column;
}

h2{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}

h3{
    text-align: center;
    justify-content: center;
}

.title{
    display: flex;
    justify-content: left;
    padding: 50px;
}
.signup{
    display: flex;
    justify-content: left;
}

h1{
    font-size: 30px;
    color: orange;
    font-family: 'Alfa Slab One', cursive;
    line-height: 100%;
    justify-content: center;
}

body{
    display: flex;
    flex-direction: column;
    background-color: rgb(217, 217, 217);
    margin: 0 0 0 0;
    height: 100vh;         
}


.section1 {
    text-align: center;
    height: 82vh;
    width: 100%;
    
}

.section1 h2{
    margin: 0px 0px 20px 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.section1 .colors {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    
    
}
.section1 .colors .color{
    flex: 1;
    
}


.section1 .colors .color .color-text{
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif ;
}

.section2{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    
    border-radius: 5px;
    background-color: rgb(217, 217, 217);
    height: 8vh;
}

.generate{
    flex: 1;
    align-items: left;
    justify-content: left;
    margin-left: 15px;
}

.save{
    flex: 1;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    margin-right: 15px;
}

.saveP{
    width: 50%;
    padding-left: 0%;
    padding-bottom: 5px;
    border: 0;
    background-color: rgb(217, 217, 217);
    border-bottom:1px solid rgb(0, 0, 0);
    text-decoration: none;
    
    
    
}

.saveP:focus{
    outline: none;

}
.saveP::placeholder{
    color: rgba(112, 112, 112, 0.733);
  }
.saveP:focus::placeholder{
    color: rgba(255, 255, 255, 0.319);
  }

.saveP:focus {
    padding-bottom: 6px;  
    font-weight: 700;
    color: rgb(255, 166, 0);
  }


.button {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}


.button:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}


.saved_pallets{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: left;
    height: 100%;
    max-width: 100%;
    
    

}

.saved_colors{
    flex: 1;
    display: flex;
    justify-content: center;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    min-width: 100%;
     */
    height: 100%;
    margin-top: 3vh;
    /* margin-bottom: 1vh; */
    border-radius: 20px;
    opacity: 85%;
    
}

.saved_colors:hover{
    opacity: 100%;
    
}

.pallet{
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 150px;
    max-height: 200px;
    height: 100%;
    width: 100%;
    
    

}
.saved_color{
    flex: 1;
    border-radius: 10px;
    
}
.color-img1{
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.233);
}

.color-img1:hover{
    flex: 2;
    transform: scale(1.1);
}

.color-img1:hover .pallet_name{
    display: none;
}
.color-img1:hover .pallet_code{
    opacity: 50%;
}


.pallet_name{
    flex: 1;
    position: absolute;
    color: white;
    margin-top: 20px;
    opacity: 50%;
}
.pallet_code{
    flex: 1;
    position: absolute;
    color: white;
    margin-top: 20px;
    opacity: 0%;
}


.del{
    flex: 1;
    max-height: 20px;
    align-items: center;
    
}
/* .delbutton{
    position:absolute;
    left: 45%;
} */

.pallet_code_main{
    text-align: center;
    justify-content: center;
    font-size: 50px;
    color: white;
    opacity: 0%;
}

.color:hover .pallet_code_main{
    opacity: 50%;
}