#navbar {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: auto;
    height: auto;
    
 }
 
 .nav-link {
    display: inline-block;
   text-align: center;
   padding: 14px;
   color: rgb(255, 255, 255);
   text-decoration: none;
   font-size: 17px;
   font-weight: bolder;
   margin-top: 10px;
 }
 

 
#menu{
    display: flex;
    flex-direction: column;
}


#form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 400px;
   
}

#form_login{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100px;
   
}

#form_container_email{
    display: flex;
    justify-content: center;
    
    width: 100%;
    height: 500px;

}

#form_container{
    display: flex;
    justify-content: space-around;
    
    width: 100%;
    height: 200px;

}


h1{
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: rgb(241, 84, 84);
    line-height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    background-color: rgb(32, 32, 32);
    margin-left: 5%;
    margin-right: 5%;
    
        
     
}

header{
    height: 70px;
    border-bottom: 4px solid rgb(255, 236, 192);
}

#hero-container{
    

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 550px;
   
    flex-direction: row;
    border-bottom: 4px solid rgb(255, 236, 192);
}


#title-container{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    
    height: 80%;
    margin-top: 4%;
    width: 300px;
}

#instructions{
    flex: 1;

}


#generator{
    border-style: solid;
    border-color: black;
    border-width: 1px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 2;
    flex-direction: row;
}
#section-wrapper{
    

    display: flex;
    flex-direction: row;
    
    justify-content: center;
    align-items: center;
    width: 100%;
    height:100%;
    
}
.pallet-color-wrapper{
    
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
}
#color{
    
    border-right: 1px solid black;
    flex:1 ;
    
    
}

#tools{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: blue;
    flex: 1;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}


    

.card{
    flex: 1;
    max-width: 250px;
    height: 80%;
    background-color: grey;
    border-radius: 10px;
    outline: 1px
    rgb(255, 255, 255);
    outline-offset: -8px;
    box-shadow: 3px 3px 10px 
    rgba(0, 0, 0, .1);
    position: relative;
    overflow: hidden;

}

.card-image{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .6;
    transition: transform .75;

}

.card:hover{
    transform: scale(1.15);
}

.card-title{
    position: absolute;
    left: 15px;
    bottom: 15px;
    font-size: 20px;
    color: white;
}

.color-img1 {
    height: 100px;
    border-radius: 12px;
   

}


.section1 {
    text-align: center;
    margin-top: 30px;
}

.section1 h2{
    margin: 0px 0px 20px 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.section1 .colors {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 15px;
    
}
.section1 .colors .color{
    background: white;
    box-shadow: 0.4px 0.4px 40px rgba(0, 0, 0, 0.526);
    padding: 15px;
    border-radius: 10px;
}


.section1 .colors .color .color-text{
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif ;
}

.section2{
    text-align: center;
    margin-top: 50px;
}

.section2 .btn {
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
}

h2{
    color: red;
}