#navbar {

    
    width: 100%;
    
    display: flex;
    justify-content: space-around;
    
    font-family: Arial, sans-serif;
    font-size: 15px;
    margin-bottom: 50px;
    
 }
 
 .nav-link {
    

    display: inline-block;
    width: 33%;
    height: 55px;
    flex: 1;
 
    color: rgb(255, 255, 255);
 
    text-align: center;
    line-height: 55px;
 
    text-decoration: none;
 }
 
 #logo {
    flex: 2;
 }

 .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .sticky + .content {
    padding-top: 60px;
  }
 
#menu{
    display: flex;
    flex-direction: column;
}


#form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 400px;
   
}

#form_login{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100px;
   
}

#form_container_email{
    display: flex;
    justify-content: center;
    
    width: 100%;
    height: 500px;

}

#form_container{
    display: flex;
    justify-content: space-around;
    
    width: 100%;
    height: 200px;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f100;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a:hover {
    color: red;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    display: flex;
    flex-direction: column;
    background-color: rgb(32, 32, 32);
    margin-left: 5%;
    margin-right: 5%;
    
        
     
}

header{
    height: 70px;
    border-bottom: 4px solid rgb(255, 236, 192);
}

#hero-container{
    

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 550px;
   
    flex-direction: row;
    border-bottom: 4px solid rgb(255, 236, 192);
}


#title-container{
    border-style: solid;
    border-color: black;
    border-width: 1px;

    flex: 1;
}


#generator{
    border-style: solid;
    border-color: black;
    border-width: 1px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 2;
    flex-direction: row;
}
#section-wrapper{
    

    display: flex;
    flex-direction: row;
    
    justify-content: center;
    align-items: center;
    width: 100%;
    height:100%;
    
}
.pallet-color-wrapper{
    
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
}
#color{
    
    background-color: rgb(208, 40, 40);
    border-right: 1px solid black;
    flex:1 ;
    
    
}

#tools{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: blue;
    flex: 1;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}


    

.card{
    flex: 1;
    max-width: 250px;
    height: 100%;
    background-color: grey;
    border-radius: 10px;
    outline: 1px
    rgb(255, 255, 255);
    outline-offset: -8px;
    box-shadow: 3px 3px 10px 
    rgba(0, 0, 0, .1);
    position: relative;
    overflow: hidden;

}

.card-image{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .6;
    transition: transform .75;

}

.card:hover{
    transform: scale(1.15);
}

.card-title{
    position: absolute;
    left: 15px;
    bottom: 15px;
    font-size: 20px;
    color: white;
}

