<!DOCTYPE html>
<html >
<head>
  <link rel="stylesheet" href="static/styles.css" />
  <title>My Webpage</title>
</head>
<body>
  <header>
    <nav id="topnav">
        {% if session.get('user_id') %}
        <a class="nav-link" href="/reviews">Reviews</a>
        <a id="logo" class="nav-link" href="/">Food Truck</a>
        <div class="dropdown">
        <a class="nav-link" href="/profile" ><b>{{user_name}}</b></a>
            <div class="dropdown-content">
              <a href="/logout">Log out</a>
            </div>
        {% else %}
        <a class="nav-link" href="/reviews">Reviews</a>
        <a id="logo" class="nav-link" href="/">Food Truck</a>
        <a  class="nav-link" href="/login_page"><b>Login</b></a>

        {% endif %}

        <h2></h2>

    </nav>

</header>
  
    {% block content %}{% endblock %}
  

</body>