{% extends "base.html" %}

{% block content %}

<head>

</head>

<body>


    <div class="section1">


        

        <div class="colors">
            {% for r,g,b,i in generated_colors %}
                <div class="color" style="background-color: rgb({{r}},{{g}},{{b}});">
                <div class="color-text" data="{{i}}">{{r}},{{g}},{{b}}</div>
                <!-- <button class="btn">Copy</button> -->
            </div>
            
            {% endfor %}
        </div>

        <div class="section2">
            <form class="generate" action="/">
                <input type="hidden" value={{id}} name='id'>
                <button class="btn">Generate</button>
            </form>
            {% if session.get('user_id') %}
            <form action="/save" method="POST">
                {% for r,g,b,i in generated_colors %}
                <input type="hidden" value='{{r}},{{g}},{{b}}' name='color_codes{{i}}'>
                {% endfor %}
                <input type="text" name="pallet_name" placeholder="Pallet Name">
                <input type="submit" value="Save Pallet">
            </form>
            {% endif %}

        </div>
        </div>
        <script src="script.js"></script>
</body>

</html>

{% endblock %}