
{% extends "base.html" %}

{% block content %}

<body>
    
    <div id="hero-container" >
        <div id="title-container" ></div>
        <div id="image-silder">
            <div id="select-image-button" ></div>
        </div>
    </div>

    <div id="text-scroller" ></div>

    <div id="generator">
    <div id="section-wrapper">
        <div class="pallet-color-wrapper" id="color0">
            <div id="color" data-id="0"></div>
            <div id="tools"></div>
        </div>
        <div class="pallet-color-wrapper" id="color1">
            <div id="color" data-id="1"></div>
            <div id="tools"></div>
        </div>
        <div class="pallet-color-wrapper" id="color2">
            <div id="color" data-id="2"></div>
            <div id="tools"></div>
        </div>
        <div class="pallet-color-wrapper" id="color3">
            <div id="color" data-id="3"></div>
            <div id="tools"></div>
        </div>
        <div class="pallet-color-wrapper" id="color4">
            <div id="color" data-id="4"></div>
            <div id="tools"></div>
        </div>
    </div> 
    <button>GENERATE</button>
</div>

    <div id="popular-pallets"></div>

    


    



    <script src="" async defer></script>
</body>

</html>

{% endblock %}