{% extends "base.html" %}

{% block content %}


<div class="login-container">


    <div class="form_group field">

        <div class="title">
            <h1>Welcome Back!</h1>
        </div>
        <form id="form_login" method="POST" action='/login_page_action'>
            <input type="hidden" value={{id}} name='id'>
            <input class="form__field" type="text" name="email" placeholder="Email" required>
            <input class="form__field" type="password" name="password" placeholder="Password" required>
            <input class="button" style="width: 25%;" type="submit">
        </form>
    </div>

    <div class="graphic_bar"></div>

    <div class="form_field">

        <div class="title">
            <h1>Sign up</h1>
        </div>

        <form id="form_login" method="POST" action='/sign_up_action'>
            <input type="hidden" value={{id}} name='id'>
            <input class="form__field" type="text" name="name" placeholder="Name" required>
            <input class="form__field" type="text" name="email" placeholder="Email" required>
            <input class="form__field" type="password" name="password" placeholder="Password" required>
            <input class="button" style="width: 25%;" type="submit">
        </form>
    </div>
</div>
<script src="script.js"></script>
{% endblock %}