{% extends "base.html" %}

{% block content %}


<div class="login-container">
    <!-- <div class="message signup">
        <div class="button-wrapper">
            <button class="button" id="signup">Sign Up</button>
            <button class="button" id="login">Login</button>
        </div> -->
        <div class="form form-signup">
            <div class="form-heading">Welcome: Sign Up</div>
            <form id="form_login" method="POST" action="/sign_up_action">
                <input type="hidden" value={{id}} name='id'>
                <input type="text" name="name" placeholder="Name">
                <input type="text" name="email" placeholder="Email">
                <input type="password" name="password" placeholder="Password">
                <input type="submit">
            </form>
        </div>
        <div class="form form-login">
            <div class="form-heading">Welcome Back</div>
            <form id="form_login" method="POST" action='/login_page_action'>
                <input type="hidden" value={{id}} name='id'>
                <input type="text" name="email" placeholder="Email">
                <input type="password" name="password" placeholder="Password">
                <input type="submit">
            </form>
        </div>
    </div>
   






</div>
<script src="script.js"></script>
{% endblock %}