{% extends "base.html" %}

{% block content %}

<head>
    

</head>

<body>


    <div class="saved_pallets">



        {% for name, color1, color2, color3, color4, color5 in saved_pallets %}
        <div class="pallet">
            <!-- <h2>{{name}}</h2> -->
            <div class="saved_colors">


                <div onclick="CopyToClipboard('{{name}}')" class="saved_color">

                    <div id="{{name}}" class="color-img1" style="background-color: rgb({{color1}});">
                        <h2 class="pallet_code">{{color1}}</h2>
                    </div>

                </div>


                <div onclick="CopyToClipboard('{{name}}');return false;" class="saved_color">
                    <div id="{{name}}" class="color-img1" style="background-color: rgb({{color2}});">
                        <h2 class="pallet_code">{{color2}}</h2>
                    </div>

                </div>

                <div onclick="CopyToClipboard('{{name}}');return false;" class="saved_color">

                    <div id="{{name}}" class="color-img1" style="background-color: rgb({{color3}});">
                        <h2 class="pallet_name">{{name}}</h2>
                        <h2 class="pallet_code">{{color3}}</h2>
                    </div>

                </div>
                <div onclick="CopyToClipboard('{{name}}');return false;" class="saved_color">
                    <div id="{{name}}" class="color-img1" style="background-color: rgb({{color4}});">
                        <h2 class="pallet_code">{{color4}}</h2>
                    </div>

                </div>
                <div onclick="CopyToClipboard('{{name}}');return false;" class="saved_color">
                    <div id="{{name}}" class="color-img1" style="background-color: rgb({{color5}});">
                        <h2 class="pallet_code">{{color5}}</h2>
                    </div>

                </div>

            </div>

            <form class="del" method="POST" action="/delete_pallet_action">
                <input type="hidden" value='{{name}}' name='name'>
                <button type="submit" class="button">Delete</button>
            </form>
        </div>



        {% endfor %}
    </div>
    <script src="/script.js">
        function CopyToClipboard(id) {
            var r = document.createRange();
            r.selectNode(document.getElementById(id));
            window.getSelection().removeAllRanges();
            window.getSelection().addRange(r);
            document.execCommand('copy');
            window.getSelection().removeAllRanges();
        }
    </script>
</body>

</html>

{% endblock %}